body {
  font-family: 'Montserrat', sans-serif;
}

.page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-light {
  background-color: #f9f6f1;
}

.page-dark {
  background-color: #212121;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 26px;
  padding-top: 46px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-item {
  margin-right: 45px;
}

.nav-link {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
}

.cart {
  background-image: url("../img/basket.svg");
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: block;
  width: 30px;
  height: 30px;
}

.cart-count {
  background-image: url("../img/cart-bg.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 24px;
  display: block;
}

.btn {
  background-color: #d7b399;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
}

.btn-xs {
  padding: 8px 28px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.main .sale-description {
  font-size: 30px;
  letter-spacing: -0.6px;
}

.main .sale-title {
  font-size: 55px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 60px;
}

.box {
  position: relative;
}

.box-price {
  position: absolute;
  right: 0;
  text-align: right;
  top: 35px;
}

.box-price-old {
  font-size: 24px;
  font-weight: 700;
}

.box-price-new {
  font-size: 42px;
  font-weight: 700;
  color: #d84033;
  margin-top: 17px;
}

.notice-title {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.notice-title span {
  font-weight: 700;
}

.notice-description {
  color: #fff;
  text-align: center;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 50px 0;
  background-size: 190px 171px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.collection-man {
  background-image: url("../img/man.png");
}

.collection-woman {
  background-image: url("../img/woman.png");
}

.collection-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.collection-description {
  font-size: 16px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */