$cream: #f9f6f1;
$dark: #212121;
$accent: #d7b399;
$gray: #cbcfd4;
$light-gray: #8d8d8d;
$important: #d84033;
body {
  font-family: 'Montserrat', sans-serif;
}
.page-light {
  background-color: $cream;
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 126px;
  padding-top: 46px;
}
.nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  &-item {
    margin-right: 45px;
  }
  &-link {
    color: $dark;
    text-decoration: none;
    font-size: 14px;
  }
}
.cart {
  background-image: url('../img/basket.svg');
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: block;
  width: 30px;
  height: 30px;
  &-count {
    background-image: url('../img/cart-bg.svg');
    background-repeat: no-repeat;
    background-position: 0 center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 24px;
    display: block;
  }
}
.btn {
  background-color: $accent;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
}
.main {
  display: flex;
  justify-content: space-between;
  &-item {
    flex: 0 0 50%;
  }
  .sale {
    &-description {
      font-size: 30px;
      letter-spacing: -0.6px;
    }
    &-title {
      font-size: 55px;
      font-weight: 700;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
}
.box {
  position: relative;
  &-price {
    position: absolute;
    right: 0;
    text-align: right;
    top: 35px;
    &-old {
      font-size: 24px;
      font-weight: 700;
    }
    &-new {
      font-size: 42px;
      font-weight: 700;
      color: #d84033;
      margin-top: 17px;
    }
  }
}
